<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    {% block css %}
{#        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.css">#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">#}
    {% endblock %}

    {% block js %}

    {% endblock %}
<body>
    {% block head %}

    {% endblock %}

    {% block content %}
        <h1>标题</h1>
    {% endblock %}

    {% block footer %}

    {% endblock %}
</body>
</html>